@model IEnumerable<Producer>

@{
    ViewData["Title"] = "list Of Producer";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=> model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model=> model.FullName)</th>
                    <th>@Html.DisplayNameFor(model=> model.Bio)</th>
                    @if (@User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@actor.ProfilePictureURL" alt="@actor.FullName" style="max-width:150px" />
                        </td>
                        <td class="align-middle">@Html.DisplayFor(actorModel => actor.FullName)</td>
                        <td class="align-middle">@Html.DisplayFor(actorModel => actor.Bio)</td>
                        @if (@User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                        {
                            <td class="align-middle">
                                <a asp-action="Edit" asp-route-id="@actor.Id" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit </a> |
                                <a asp-action="Details" asp-route-id="@actor.Id" class="btn btn-outline-info"><i class="bi bi-eye"></i>Details </a> |
                                <a asp-action="Delete" asp-route-id="@actor.Id" class="btn btn-danger" style="color:white;"><i class="bi bi-trash"></i>Delete </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem","Producers");